let scrollstep="250"
let scrollduration="1000"
set smoothscroll

let zoomfactor="0.05"

set scalehints
set numerichints
set typelinkhints
set shortlinkhints

set noautofocus

let defaultengine="duckduckgo"

let barposition="bottom"

" unmap b
map b = :buffer<Space>

let configpath="/home/miha/.config/cvim/cvim.config"
set localconfig
